.main-page ion-label,
.main-page ion-label h2 {
    text-transform: none;
}

.main-page  {
    text-align: center;
    
}

.main-page img {
    border-radius: 150px;
}

.main-page figure {
   margin-top: -150px;
}

.swiper-pagination {
    display: inline !important;
}